.Wrapper {
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: #eed;
  box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.44);
  border-radius: 4px;
}

.SubTitle {
  color: #808080;
}

.Title {
  margin: 5px 0;
}
